{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

	{% block phase_banner %}
	{% include "includes/phase_banner_beta.html" %}
	{% endblock %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Payment received by<br/> Companies House</h1>
				<p>
          Your reference number is
          <strong class="heading-medium">HDJ2123F</strong>
        </p>
      </div>

			<div>
				<table>
					<thead>
						<tr>
							<th colspan="2">Accounts for period ending on 20 April 2015</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Company name</td>
							<td>TEMPLETON METAL WORKS LTD</td>
						</tr>
						<tr>
							<td>Due date</td>
							<td>31 January 2015</td>
						</tr>
						<tr>
							<td>Date accounts were filed</td>
							<td>3 March 2015</td>
						</tr>
						<tr>
						 <td>Overdue by</td>
							<td>1 month 3 days</td>
						</tr>
						<tr>
						 <td>Penalty cost</td>
							<td class="heading-small">£750</td>
						</tr>
						<tr>
						 <td>Debt recovery costs</td>
							<td class="heading-small">£130</td>
						</tr>
						<tr>
							<td class="heading-small">Amount paid</td>
							<td class="heading-small">£880</td>
						</tr>
					</tbody>
				</table>
			</div>
      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

</main>

{% endblock %}
