{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

	{% block phase_banner %}
	{% include "includes/phase_banner_beta.html" %}
	{% endblock %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Payment received by<br/> Companies House</h1>
				<p>
          Your reference number is
          <strong class="heading-medium">HDJ2123F</strong>
        </p>
      </div>

      <h2 class="heading-medium">Templeton Metal Works Ltd.</h2>

			<div>
				<table>
					<tbody>
						<tr>
							<td scope="col"><span class="heading-small">Accounts for period end 20 April 2015</span>
								<span class="form-hint">Due to be filed on 31 January 2016<br/>
								Recieved on 27 February 2016</span>
							</td>
							<td class="lfp-sub-total">£150.00</td>
						</tr>
						<tr>
							<td class="heading-small">Late filing penalty recieved</td>
							<td class="heading-small">£150.00</td>
						</tr>
					</tbody>
				</table>
			</div>
      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

</main>

{% endblock %}
