{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% block phase_banner %}
  {% include "includes/phase_banner_beta.html" %}
  {% endblock %}

	<!--<div class="breadcrumbs">
		<a href="view-trans" class="link-back">Back</a>
	</div>-->

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Enter amount
      </h1>

			<h2 class="heading-medium">Total outstanding to pay: £500.00</h2>

			<!--<h2 class="heading-medium">Payment details</h2>-->

			<form>
				<div class="form-group">
					<label class="form-label-bold" for="amount-to-pay">
						Amount to pay
						<span class="form-hint">
							Pay some or all of the amount outstanding
						</span>
					</label>
					<input class="form-control" id="invoice-number" type="number">
				</div>

			   <div class="form-group">
			     <fieldset>
			       <legend>
			         <span class="form-label-bold">
			           Made up date
			         </span>
			         <span class="form-hint" id="dob-hint">Optionally select a made up date</span>
			       </legend>
			       <div class="form-date">
			         <div class="form-group form-group-day">
			           <label class="form-label" for="dob-day">Day</label>
			           <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31" aria-describedby="dob-hint">
			         </div>
			         <div class="form-group form-group-month">
			           <label class="form-label" for="dob-month">Month</label>
			           <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
			         </div>
			         <div class="form-group form-group-year">
			           <label class="form-label" for="dob-year">Year</label>
			           <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
			         </div>
			       </div>
			     </fieldset>
			   </div>
		 	</form>

			<div class="panel panel-border-wide">
			  <p>Please be aware that any payment will be allocated against the ldest court costs followed by the oldest penalty unless you provide a Made Up Date (MUD).</p>
			</div>

			<div class="notice form-group">
			  <i class="icon icon-important"><span class="visually-hidden">Warning</span></i>
			  <strong class="bold-small">If the amount is not settled in full the debt recovery process may continue.</strong>
			</div>

			<p class="form-group">
				<a class="button" href="review-amount" role="button">Continue</a>
			</p>
			<p>
				Should you wish to pay by instalments, please email <a href=" c ">lfpinstalments@companieshouse.gov.uk</a>.
			</p>

    </div>
	</div>

</main>

{% endblock %}
