{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% block phase_banner %}
  {% include "includes/phase_banner_beta.html" %}
  {% endblock %}

	<!--<div class="breadcrumbs">
		<a href="enter-details" class="link-back">Back</a>
	</div>-->
	<div class="grid-row">
		<div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Penalty details
      </h1>
			<p class="lede">
				You are paying a penalty for TEMPLETON METAL WORKS LTD.
			</p>
					<!--<div>
						<table>
							<tbody>
								<tr>
									<td scope="col"><span class="heading-small">Late filing penalty for accounts due to be filed on 31 January 2015</span><br/>
										We recieved your accounts on 27 February 2015<br/>
										Because your accounts were under 3 months late
									</td>
									<td class="lfp-sub-total">£150.00</td>
								</tr>
						  </tbody>
						</table>
					</div>-->

					<h2 class="heading-medium">Late filing penalty for accounts due to be filed on 31 January 2015</h2>
					<p>We recieved your accounts on 27 February 2015 within 3 months of the due date.</p>
					<p>The penalty for this is <span class="heading-small">£150.00</span></p>

					<!--<div class="form-group">
						<form>
						  <fieldset>

						    <label class="block-label selection-button-checkbox" for="lfp-2">
						      <input id="lfp-2" name="" type="checkbox" value="">
									<span class="heading-small">Late filing penalty for accounts period ending on 20 April 2014</span><br/>
										Due to be filed on 31 January 2015<br/>
										Recieved on 27 February 2015<br/>
										£150
						    </label>
						    <label class="block-label selection-button-checkbox" for="court-fee">
						      <input id="court-fee" name="" type="checkbox" value="">
									<span class="heading-small">Court fees</span><br/>
										We need content for why they owe us these<br/>
										£600
						    </label>

						  </fieldset>
						</form>
					</div>-->

			<p>
				<a class="button" href="other-charges.html" role="button">Continue</a>
			</p>

			<!--<p class="warning-notice">
				<div class="notice form-group">
					<i class="icon icon-important"><span class="visually-hidden">Warning</span></i>
					<strong class="bold-small">If the payment is not made we may take further action to recover the money.</strong>
				</div>
			</p>-->

		</div>
	</div>

</main>

{% endblock %}
