{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% block phase_banner %}
  {% include "includes/phase_banner_beta.html" %}
  {% endblock %}

	<!--<div class="breadcrumbs">
		<a href="enter-details" class="link-back">Back</a>
	</div>-->

	<div class="grid-row">
		<div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Penalty details
      </h1>
					<div>
						<table>
						  <thead>
						    <tr>
						      <th colspan="2">Accounts for period ending on 20 April 2015</th>
						    </tr>
						  </thead>
						  <tbody>
								<tr>
						      <td>Company name</td>
						      <td>TEMPLETON METAL WORKS LTD</td>
						    </tr>
						    <tr>
						      <td>Due date</td>
						      <td>31 January 2015</td>
						    </tr>
						    <tr>
						      <td>Date accounts were filed</td>
						      <td>3 March 2015</td>
						    </tr>
						    <tr>
						     <td>Overdue by</td>
						      <td>1 month 3 days</td>
						    </tr>
								<tr>
						     <td>Penalty cost</td>
						      <td class="heading-small">£750</td>
						    </tr>
								<tr>
						     <td>Debt recovery costs</td>
						      <td class="heading-small">£130</td>
						    </tr>
						    <tr>
						      <td class="heading-small">Outstanding amount</td>
						      <td class="heading-small">£880</td>
						    </tr>
						  </tbody>
						</table>
					</div>

					<!--<p class="warning-notice">
						<div class="notice form-group">
							<i class="icon icon-important"><span class="visually-hidden">Warning</span></i>
							<strong class="bold-small">If the payment is not made we may take further action to recover the money.</strong>
						</div>
					</p>-->
			<p>
				<a class="button" href="gov-pay-1" role="button">Proceed to payment</a>
			</p>

		</div>
	</div>

</main>

{% endblock %}
