{% extends "layout.html" %}

{% block page_title %}
Pay your late filing penalty
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% block phase_banner %}
  {% include "includes/phase_banner_beta.html" %}
  {% endblock %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="">Companies House</a></li>
      <li>Pay your late filing penalty</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Pay your Companies House late filing penalty
      </h1>

			<div class="form-class table-spacing">
        <p>You will need:</p>
        <ul class="list list-bullet table-spacing">
          <li>the company number</li>
          <li>the penalty reference</li>
					<li>a credit or debit card to pay</li>
        </ul>
				<p>
					The penalty reference can be found in your late filing penalty letter that Companies House sent you.
				</p>
      </div>

      <p>
        <a class="button button-start" href="enter-details" role="button">Start now</a>
      </p>
			<div class="form-group">
				<details><summary><span class="summary">Other ways to pay your penalty</span></summary>
					<div class="panel panel-border-narrow">
						<h4 class="heading-medium">By phone</h4>
						<p>
							Telephone: 0303 1234 500<br/>
							Paying your penalty through instalments can also be set up by phone.
						</p>
						<h4 class="heading-medium">Cheque</h4>
						<p>
							Send your cheque, along with the remittance advice on the bottom of your letter to:<br/>
							<br />
							<span class="heading-small">England Wales and Northern Ireland:</span><br/>
							Companies House<br/>
							PO Box 710<br/>
							Crown Way<br/>
							CF14 3UZ<br>
							<br />
							<span class="heading-small">Scotland:</span><br>
							Companies House<br />
							Fourth Floor<br />
							Edinburgh Quay 2<br />
							139 Fountainbridge<br />
							Edinburgh<br />
							EH3 9FF</br>
						</p>
						<h4 class="heading-medium">BACS</h4>
						<p>
							Quote your company number followed by the full company name in your transaction reference so we can allocate your payment properly.
						</p>
						<table>
							<tbody>
								<tr>
									<td class="gov-pay-table-td">Account name:</td>
									<td class="gov-pay-table-td">Late Filing Penalties Receipts</td>
								</tr>
								<tr>
									<td class="gov-pay-table-td">Account number:</td>
									<td class="gov-pay-table-td">41005309</td>
								</tr>
								<tr>
								 <td class="gov-pay-table-td"></td>
								<td class="gov-pay-table-td">National Westminter Bank<br/>
																						Roath, Cardiff</td>
								</tr>
								<tr>
									<td class="gov-pay-table-td">Sort code:</td>
									<td class="gov-pay-table-td">52 21 07</td>
								</tr>
								<tr>
									<td class="gov-pay-table-td">Swift code:</td>
									<td class="gov-pay-table-td">NW BK GB 2122X</td>
								</tr>
								<tr>
									<td class="gov-pay-table-td">IBAN:</td>
									<td class="gov-pay-table-td">GB34NWBK52210741005309</td>
								</tr>
							</tbody>
						</table>
						<p>
							Email confirmation of your BACS payment to LFPFinance@companieshouse.gov.uk with details of the amount paid, company number and company name.
						</p>
					</div>
				</details>
			</div>
    </div>
</div>

</main>

{% endblock %}
