{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% block phase_banner %}
  {% include "includes/phase_banner_beta.html" %}
  {% endblock %}

	<!--<div class="breadcrumbs">
		<a href="enter-details" class="link-back">Back</a>
	</div>-->

      <h1 class="heading-xlarge">
        How this payment is calculated
      </h1>

			<div class="grid-row">
		    <div class="column-two-thirds">
					<div class="form-group">
						<table>
							<thead>
								<tr>
									<th scope="col"></th>
									<th scope="col"></th>
								</tr>
							</thead>
						  <tbody>
						    <tr>
						      <td><span class="heading-small">Late filing penalty</span><br/>
										For accounts period ending 31 March 2015<br/>
										Filed between 1 and 3 months late
									</td>
						      <td>£375.00</td>
						    </tr>
									<td class="heading-small">Total outstanding to pay:</td>
									<td class="heading-small">£375.00</td>
								</tr>
						  </tbody>
						</table>
					</div>

			<p>
				<a class="button" href="enter-amount" role="button">Enter amount</a>
			</p>
		</div>
	</div>

</main>

{% endblock %}
