{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% block phase_banner %}
  {% include "includes/phase_banner_beta.html" %}
  {% endblock %}

	<!--<div class="breadcrumbs">
		<a href="enter-details" class="link-back">Back</a>
	</div>-->

      <h1 class="heading-xlarge">
        How this payment is calculated
      </h1>

			<div class="grid-row">
		    <div class="column-two-thirds">
					<div>
						<table>
							<tbody>
								<tr>
									<td scope="col"><span class="heading-small">Late filing penalty</span><br/>
										Your accounts with a made up date of 30 April 2015 were filed late.<br/>
										They were due to be filed with us on or before 31 January 2016.<br/>
										The accounts were recieved on 27 February 2016.
									</td>
									<td scope="col">£150.00</td>
								</tr>
								<tr>
									<td class="heading-small">Total outstanding to pay:</td>
									<td class="heading-small">£150.00</td>
								</tr>
						  </tbody>
						</table>
					</div>

					<p class="warning-notice">
						<div class="notice form-group">
							<i class="icon icon-important"><span class="visually-hidden">Warning</span></i>
							<strong class="bold-small">If the payment is not made we may take further action to recover the money.</strong>
						</div>
					</p>
			<p>
				<a class="button" href="gov-pay-1" role="button">Proceed to payment</a>
			</p>

		</div>
	</div>

</main>

{% endblock %}
