{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% block phase_banner %}
    {% include "includes/phase_banner_beta.html" %}
  {% endblock %}

	<div class="grid-row">
	  <div class="column-two-thirds">
		  <h1 class="heading-large">Enter card details</h1>
      {% if errors %}
      <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
        <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
          Your payment could not be made
        </h1>
        <p>
          We were unable to make your payment as the details you provided could not be verified.
        </p>
        <ul class="error-summary-list">
          {% if errors.cardNumber %}
            <li>
              <a href="#{{ errors.cardNumber.ref }}">{{ errors.cardNumber.msg }}</a>
            </li>
          {% endif %}
          {% if errors.expiry %}
            <li>
              <a href="#{{ errors.expiry.ref }}">{{ errors.expiry.msg }}</a>
            </li>
          {% endif %}
          {% if errors.fullName %}
            <li>
              <a href="#{{ errors.fullName.ref }}">{{ errors.fullName.msg }}</a>
            </li>
          {% endif %}
          {% if errors.securityCode %}
            <li>
              <a href="#{{ errors.securityCode.ref }}">{{ errors.securityCode.msg }}</a>
            </li>
          {% endif %}
          {% if errors.buildingAndStreet %}
            <li>
              <a href="#{{ errors.buildingAndStreet.ref }}">{{ errors.buildingAndStreet.msg }}</a>
            </li>
          {% endif %}
          {% if errors.townOrCity %}
            <li>
              <a href="#{{ errors.townOrCity.ref }}">{{ errors.townOrCity.msg }}</a>
            </li>
          {% endif %}
          {% if errors.postCode %}
            <li>
              <a href="#{{ errors.postCode.ref }}">{{ errors.postCode.msg }}</a>
            </li>
          {% endif %}
          {% if errors.emailAddress %}
            <li>
              <a href="#{{ errors.emailAddress.ref }}">{{ errors.emailAddress.msg }}</a>
            </li>
          {% endif %}
        </ul>
      </div>
      {% endif %}
		  <form class="form" method="POST" action="gov-pay-1" autocomplete="off">
  			<div class="form-group cards-group {% if errors.cardNumber %}error{% endif %}">
  				<label class="form-label-bold" for="card-number">
            Card number
            {% if errors.cardNumber %}
              <span class="error-message">
                {{ errors.cardNumber.msg }}
              </span>
            {% endif %}
          </label>
  			  <input class="form-control medium-width" id="card-number" name="cardNumber" type="number" pattern="[0-9]*" min="0" max="9999999999999999" value="{{ payment.cardNumber }}">
  			  <div class="card-images">
  				  <img class="original-accepted" id="original-accepted" src="/public/images/accepted-cards-x2.png">
  			  </div>
  			  <p class="accepted-copy-2">Accepted credit and debit card types</p>
  			</div>
  			<div class="form-group {% if errors.expiry %}error{% endif %}">
  	      <fieldset>
  	      	<div class="form-date">
  	          <legend class="form-label-bold">
                Expiry date	<span class="form-hint">For example, 07/17</span>
  	        	</legend>
              {% if errors.cardNumber %}
                <span class="error-message">
                  {{ errors.expiry.msg }}
                </span>
              {% endif %}
  			      <div class="form-group form-group-month">
        		    <label for="exp-month">Month</label>
            		<input class="form-control" id="exp-month" name="expMonth" type="number" pattern="[0-9]*" min="1" max="12" value="{{ payment.expMonth }}">
  			      </div>
  	          <div class="form-group form-group-month">
	            	<label for="exp-year">Year</label>
    	        	<input class="form-control" id="exp-year" name="expYear" type="number" pattern="[0-9]*" min="16" max="25" value="{{ payment.expYear }}">
          		</div>
	        	</div>
       		</fieldset>
      	</div>
      	<div class="form-group {% if errors.fullName %}error{% endif %}">
  				<label class="form-label-bold" for="full-name">
            Name on card
            {% if errors.fullName %}
              <span class="error-message">
                {{ errors.fullName.msg }}
              </span>
            {% endif %}
          </label>
			  	<input class="form-control" id="full-name" name="fullName" type="text" value="{{ payment.fullName }}">
		    </div>
  			<div class="form-group {% if errors.securityCode %}error{% endif %}">
  				<label class="form-label-bold" for="card-security-number">
  			    Card security code <span class="form-hint">This is the 3 digit code at the back of your card</span>
            {% if errors.securityCode %}
              <span class="error-message">
                {{ errors.securityCode.msg }}
              </span>
            {% endif %}
			  	</label>
			  	<input class="form-control" id="security-number" name="securityCode" type="number" pattern="[0-9]*" min="0" max="999" value="">
          <img class="card-image" src="/public/images/card-security-code-2.png">
  			</div>
	      <div class="form-group">
  		    <h2 class="heading-medium">Billing address</h2>
  		    <div class="payment-type-intro">
  	  		  <p>This is the address associated with the card</p>
  	  		</div>
	      	<fieldset>
    				<div class="form-group {% if errors.buildingStreet %}error{% endif %}">
    					<label class="form-label-bold" for="building-and-street">
                Building name and/or number and street
                {% if errors.buildingStreet %}
                  <span class="error-message">
                    {{ errors.buildingStreet.msg }}
                  </span>
                {% endif %}
              </label>
  				  	<input class="form-control" id="building-street" name="buildingStreet" type="text" value="{{ payment.buildingStreet }}"><br /><br />
  				  	<input class="form-control" id="building-and-street" name="buildingAndStreet" type="text">
    				</div>
    				<div class="form-group {% if errors.townOrCity %}error{% endif %}">
    					<label class="form-label-bold" for="town-or-city">
                Town or city
                {% if errors.townOrCity %}
                  <span class="error-message">
                    {{ errors.townOrCity.msg }}
                  </span>
                {% endif %}
              </label>
  				  	<input class="form-control medium-width" id="town-or-city" name="townOrCity" type="text" value="{{ payment.townOrCity }}">
    				</div>
    				<div class="form-group {% if errors.postCode %}error{% endif %}">
    					<label class="form-label-bold" for="postcode">
                Postcode
                {% if errors.postCode %}
                  <span class="error-message">
                    {{ errors.postCode.msg }}
                  </span>
                {% endif %}
              </label>
  				  	<input class="form-control" id="postcode" name="postCode" type="text" value="{{ payment.postCode }}">
    				</div>
    				<div class="form-group {% if errors.emailAddress %}error{% endif %}">
    					<label class="form-label-bold" for="email-address">
                Email address
                <span class="form-hint">We'll send your payment confirmation here</span>
                {% if errors.emailAddress %}
                  <span class="error-message">
                    {{ errors.emailAddress.msg }}
                  </span>
                {% endif %}
              </label>
  				  	<input class="form-control" id="email-address" name="emailAddress" type="text" value="{{ payment.emailAddress }}">
    				</div>
				  </fieldset>
			  </div>
			  <div class="grid-row">
  				<div class="column-two-thirds">
  					<div class="form-group">
  							<input type="submit" class="button" role="button" value="Continue" />
  				 	</div>
  				 	<div class="back">
  						<a href="#">Cancel payment</a>
  					</div>
  				</div>
			  </div>
	    </form>
	  </div>
  	<div class="column-third">
  		<div class="payment-summary-small">
  			<h2>Payment summary</h2>
  		  <p class="payment-info">Late filing penalty</p>
  		  <h3>Amount to pay:</h3>
  		  <p class="payment-amount">£{{ paymentAmount}}</p>
  		</div>
  	</div>
  </div>
</main>

{% endblock %}
