{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% block phase_banner %}
  {% include "includes/phase_banner_beta.html" %}
  {% endblock %}

	<!--<div class="breadcrumbs">
		<a href="enter-amount" class="link-back">Back</a>
	</div>-->

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Confirm payment
      </h1>

			<h2 class="heading-medium">Please confirm the details below before proceeding to card</h2>

			<div class="form-group">
				<table>
				  <tbody>
				    <tr>
				      <td>Amount:</td>
				      <td>£{{ paymentAmount }}</td>
				    </tr>
            {% if mud %}
				    <tr>
				      <td>Made Up Date:</td>
				      <td>{{ mud.day }} {{ mud.month }} {{ mud.year }}</td>
				    </tr>
            {% endif %}
				  </tbody>
				</table>
			</div>

			<p>
				<a class="button" href="gov-pay-1" role="button">Proceed to card payment</a>
			</p>

    </div>
	</div>

</main>

{% endblock %}
