{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% block phase_banner %}
  {% include "includes/phase_banner_beta.html" %}
  {% endblock %}

	<!--<div class="breadcrumbs">
		<a href="enter-details" class="link-back">Back</a>
	</div>-->

      <h1 class="heading-xlarge">
        View transactions
      </h1>

			<div class="form-group">
				<table>
				  <thead>
				    <tr>
				      <th scope="col">Transaction date</th>
				      <th scope="col">Ref no.</th>
				      <th class="numeric" scope="col">Amount due</th>
							<th scope="col">Description</th>
							<th scope="col">Made up date</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>{{ scenario.penalties[0].filed }}</td>
				      <td>
				        {{ scenario.penalties[0].reference }}
				      </td>
				      <td class="numeric">
				        £{{ scenario.penalties[0].value }}
				      </td>
							<td>PENALTY</td>
							<td>
							  {{ scenario.penalties[0].period }}
							</td>
				    </tr>
            {% if scenario.penalties[0].fees.debtRecovery %}
              {% for item in scenario.penalties[0].fees.debtRecovery %}
                <tr>
                  <td>
                    {{ item.date }}
                  </td>
                  <td>
                    {{ item.ref }}
                  </td>
                  <td class="numeric">
                    £{{ item.value }}
                  </td>
                  <td>
                    {{ item.name }}
                  </td>
                  <td>
                    {{ item.mud }}
                  </td>
                </tr>
              {% endfor %}
            {% endif %}
            {% if scenario.penalties[0].fees.solicitor %}
              {% for item in scenario.penalties[0].fees.solicitor %}
                <tr>
                  <td>
                    {{ item.date }}
                  </td>
                  <td>
                    {{ item.ref }}
                  </td>
                  <td class="numeric">
                    £{{ item.value }}
                  </td>
                  <td>
                    {{ item.name }}
                  </td>
                  <td>
                    {{ item.mud }}
                  </td>
                </tr>
              {% endfor %}
            {% endif %}
            {% if scenario.penalties[0].fees.court %}
              {% for item in scenario.penalties[0].fees.court %}
                <tr>
                  <td>
                    {{ item.date }}
                  </td>
                  <td>
                    {{ item.ref }}
                  </td>
                  <td class="numeric">
                    £{{ item.value }}
                  </td>
                  <td>
                    {{ item.name }}
                  </td>
                  <td>
                    {{ item.mud }}
                  </td>
                </tr>
              {% endfor %}
            {% endif %}
						<tr>
							<td class="heading-small">Total outstanding to pay:</td>
							<td class="heading-small">
                £{{ scenario.penalties[0].value + scenario.penalties[0].totalFees }}
              </td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
				  </tbody>
				</table>
			</div>

			<p>
				<a class="button" href="enter-amount" role="button">Enter amount</a>
			</p>


</main>

{% endblock %}
