{% extends "layout.html" %}

{% block page_title %}
  Pay your late filing penalty
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% block phase_banner %}
    {% include "includes/phase_banner_alpha.html" %}
  {% endblock %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Penalty details
      </h1>
      <div>
        <table>
          <tbody>
            <tr>
              <th>Penalty reference</th>
              <td>{{ scenario.entryRef }}</td>
            </tr>
            <tr>
              <th>Company</th>
              <td>{{ scenario.company.name }}</td>
            </tr>
            <tr>
              <th>Company number</th>
              <td>{{ scenario.company.number }}</td>
            </tr>
            <tr>
              <th>Accounts period</th>
              <td>{{ scenario.penalties[0].period }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <h2 class="heading-medium">Summary of fees</h2>
        <table>
          <thead>
            <tr>
              <th>Fee</th>
              <th>Date</th>
              <th>Fee Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Late filing penalty</td>
              <td>{{ scenario.penalties[0].filed }}</td>
              <td>£{{ scenario.penalties[0].value }}</td>
            </tr>
            {% if scenario.penalties[0].fees.debtRecovery %}
              {% for item in scenario.penalties[0].fees.debtRecovery %}
                <tr>
                  <td>
                    {{ item.name }}
                  </td>
                  <td>
                    {{ item.date }}
                  </td>
                  <td>£{{ item.value }}</td>
                </tr>
              {% endfor %}
            {% endif %}
            {% if scenario.penalties[0].fees.solicitor %}
              {% for item in scenario.penalties[0].fees.solicitor %}
                <tr>
                  <td>
                    {{ item.name }}
                  </td>
                  <td>
                    {{ item.date }}
                  </td>
                  <td>£{{ item.value }}</td>
                </tr>
              {% endfor %}
            {% endif %}
            {% if scenario.penalties[0].fees.court %}
              {% for item in scenario.penalties[0].fees.court %}
                <tr>
                  <td>
                    {{ item.name }}
                  </td>
                  <td>
                    {{ item.date }}
                  </td>
                  <td>£{{ item.value }}</td>
                </tr>
              {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>

      <p class="bold-medium">
        Total amount due: £{{ scenario.penalties[0].value + scenario.penalties[0].totalFees }}
      </p>
      <p>
        <a class="button" href="gov-pay-1" role="button">Proceed to payment</a>
      </p>
    </div>
  </div>
</main>

{% endblock %}
