{% extends "layout.html" %}

{% block page_title %}
Pay your late filing penalty
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% block phase_banner %}
  {% include "includes/phase_banner_beta.html" %}
  {% endblock %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="">Companies House</a></li>
      <li>Pay your late filing penalty</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Pay your late filing penalty
      </h1>


      <p>Use this service to:</p>

      <ul class="list list-bullet">
        <li>pay outstanding transactions on your Companies House account</li>
      </ul>

      <p>
        <a class="button button-start" href="enter-details" role="button">Start now</a>
      </p>

      <div class="form-class table-spacing">
        <h2 class="heading-medium">Before you begin</h2>
        <p>You will require the following:</p>
        <ul class="list list-bullet table-spacing">
          <li>account number</li>
          <li>invoice number</li>
					<li>a credit or debit card to pay</li>
        </ul>
				<p>
					These can be found on your Companies House remittance advice that appears on your statement.
				</p>
      </div>

      <h3 class="heading-medium">Other ways to pay your late filing penalty</h3>
      <p>You can also <a href = " ">pay your late filing penalty by phone</a>.</p>

    </div>
</div>

</main>

{% endblock %}
