{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% block phase_banner %}
    {% include "includes/phase_banner_alpha.html" %}
  {% endblock %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box-highlight">
        <h1 class="bold-large">Payment received by<br/> Companies House</h1>
        <p>
          Your reference number is
          <strong class="heading-medium">PP555276</strong>
        </p>
      </div>
      <p>
        We've sent a confirmation email containing this reference number to {{ payment.emailAddress }}.
      </p>
      <p>
        <a href="javascript:window.print()">Print this page<span class="visuallyhidden">for your records</span></a>
      </p>
      <p>
        <a href="/public/Late_filing_penalty_pdf.pdf">Save a copy of this page (PDF, 304KB)</a>
      </p>
      <h2 class="heading-medium">
        What happens next?
      </h2>
      <p>
        Your penalty has been paid and no further action is required.
        {% if scenario.penalties[0].fees %}
          Any debt recovery or legal activity will now cease.
        {% endif %}
        Future correspondence for this penalty should be ignored.
      </p>
      <h2 class="heading-medium">Need to pay another penalty?</h2>
      <p>
        <a href="enter-details" class="button">Pay another penalty</a>
      </p>
      <div style="display: none;">
        <table>
          <thead>
            <tr>
              <th colspan="2">Accounts for period ending on 30 April 2015</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Company name</td>
              <td>TEMPLETON METAL WORKS LTD</td>
            </tr>
            <tr>
              <td>Due date</td>
              <td>31 January 2016</td>
            </tr>
            <tr>
              <td>Date accounts were filed</td>
              <td>3 March 2016</td>
            </tr>
            <tr>
             <td>Overdue by</td>
              <td>1 month 3 days</td>
            </tr>
            <tr>
             <td>Penalty cost</td>
              <td class="heading-small">£375</td>
            </tr>
            <tr>
             <td>Debt recovery costs</td>
              <td class="heading-small">£152</td>
            </tr>
            <tr>
              <td class="heading-small">Amount paid</td>
              <td class="heading-small">£527</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>
        <br /><br />
        <a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)
      </p>
    </div>
  </div>
</main>

{% endblock %}
