{% extends "layout.html" %}

{% block page_title %}
Pay your late filing penalty
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% block phase_banner %}
  {% include "includes/phase_banner_alpha.html" %}
  {% endblock %}

  <!--<div class="breadcrumbs">
    <a href="start" class="link-back">Back</a>
  </div>-->

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Enter your penalty letter details
      </h1>
      {% if penaltyErr %}
      <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
        <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
          We couldn't find your penalty details
        </h1>
        <p>
          You must provide a company number and penalty reference to pay a late filing penalty.
        </p>
        <ul class="error-summary-list">
          <li>
            <a href="#example-personal-details">{{ penaltyErr.msg }}</a>
          </li>
        </ul>
      </div>
      {% endif %}
      <form class="form" method="POST" action="enter-details">
        <div class="form-group">
          <label class="form-label-bold" for="account-number">
            Company number
            <span class="form-hint">
              This is the 8 character reference that uniquely identifies your company.
            </span>
          </label>
          <input class="form-control" id="account-number" type="text" name="companyno">
        </div>
        <div class="form-group {% if penaltyErr %} error{% endif %}">
          <label class="form-label-bold" for="invoice-number">
            Penalty reference
            {% if penaltyErr %}
              <span class="error-message">
                {{ penaltyErr.msg }}
              </span>
            {% endif %}
            <span class="form-hint">
              This is the 12 character reference shown on your penalty notification.
            </span>
          </label>
          <input class="form-control" id="invoice-number" type="text" name="reference" value="">
        </div>
        <div class="form-group">
          <details>
            <summary>
              <span class="summary">Where can I find these details?</span>
            </summary>
            <div class="panel panel-border-narrow">
              <p>
               Your company number and penalty reference are shown in a box on the right side of the penalty notification. Penalty notifications are sent to the company's registered office address.
              </p>
              <img src="/public/images/PenWebImage280px.png" class="call-out-image"/>
            </div>
          </details>
        </div>
        <input class="button" type="submit" value="Continue">
      </form>
    </div>
  </div>
</main>

{% endblock %}
