{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Sign up for email notifications
      </h1>
			<p class="lede">
				Email notifications will remind you to file your accounts and confirmation statement on time.
			</p>
			<div class="form-class table-spacing">
        <p>To sign up, you need to:</p>
        <ul class="list list-number">
          <li>sign into the <a href=" l">companies house filing service</a></li>
          <li>select the get email reminders icon</li>
        </ul>
      </div>
			<div class="form-group">
				<details><summary><span class="summary">Where can I find the email reminders icon?</span></summary>
					<div class="panel panel-border-narrow">
						<p>
							This can be found here<br/>
							{include some sort of graphic showing where it can be found on the screen}
						</p>
					</div>
				</details>
			</div>
    </div>
</div>

</main>

{% endblock %}
