{% extends "layout.html" %}

{% block page_title %}
  Pay your late filing penalty
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% block phase_banner %}
    {% include "includes/phase_banner_alpha.html" %}
  {% endblock %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Penalty details
      </h1>
      <h2 class="heading-medium">Penalty reference: {{ scenario.entryRef }}</h2>

      <div>
        <table>
          <tbody>
            <tr>
              <th>Company name</th>
              <td>{{ scenario.company.name }}</td>
              <td></td>
            </tr>
            <tr>
              <th>Company Number</th>
              <td>{{ scenario.company.number }}</td>
              <td></td>
            </tr>
            <tr>
              <th>Accounting period</th>
              <td>{{ scenario.penalties[0].period }}</td>
              <td></td>
            </tr>
            <tr>
              <th>Due date</th>
              <td>{{ scenario.penalties[0].due }}</td>
              <td></td>
            </tr>
            <tr>
              <th>Date filed</th>
              <td>
                {{ scenario.penalties[0].filed }}<br />
                ({{ scenario.penalties[0].overdue }} overdue)
              </td>
              <td></td>
            </tr>
            <tr>
              <th>Penalty band</th>
              <td>{{ scenario.penalties[0].band }}</td>
              <td></td>
            </tr>
            <tr>
              <th>Penalty amount</th>
              <td class="">£{{ scenario.penalties[0].value }}</td>
              <td></td>
            </tr>
            {% if scenario.penalties[0].fees !== null %}
              <tr>
                <th>Costs incurred</th>
                <td class="">£{{ scenario.penalties[0].totalFees }}</td>
                <td>
                  <a href="view-costs" class="link">View costs<span class="visuallyhidden"> incurred on this penalty</span></a>
                </td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
      <p class="bold-medium">
        Total amount due: £{{ scenario.penalties[0].value + scenario.penalties[0].totalFees }}
      </p>
      <p>
        <a class="button" href="gov-pay-1" role="button">Proceed to payment</a>
      </p>
    </div>
  </div>
</main>

{% endblock %}
