{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% block phase_banner %}
    {% include "includes/phase_banner_alpha.html" %}
  {% endblock %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box-highlight">
        <h1 class="bold-large">Payment received by<br/> Companies House</h1>
        <p>
          Your reference number is
          <strong class="heading-medium">PP555276</strong>
        </p>
      </div>
      <p>
        We've sent a confirmation email containing this reference number to {{ payment.emailAddress }}.
      </p>
      <p>
        <a href="javascript:window.print()">Print this page for your records</a>
      </p>
      <p>
        <a href="/public/Late_filing_penalty_pdf.pdf">Save a copy of this page (PDF, 304KB)</a>
      </p>
      <h2 class="heading-medium">
        What happens next?
      </h2>
      <p>
        Your penalty has been paid and you don't need to do anything else.
        {% if scenario.penalties[0].fees %}
          Any debt recovery or legal activity will now stop.
        {% endif %}
        Future correspondence for this penalty should be ignored.
      </p>
      <p>
        <br /><br />
        <a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)
      </p>
    </div>
  </div>
</main>

{% endblock %}
