{% extends "layout.html" %}

{% block page_title %}
  Pay your late filing penalty
{% endblock %}

{% block content %}

  <main id="content" role="main">

    {% block phase_banner %}
      {% include "includes/phase_banner_alpha.html" %}
    {% endblock %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <a href="" class="link-back">Back</a>
        {% if penaltyErr or companyErr %}
          <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
            <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
              We couldn't find your penalty details
            </h1>
            <p>
              You must provide a company number and penalty reference to pay a late filing penalty.
            </p>
            <ol class="error-summary-list">
              {% if companyErr.type %}
                <li>
                  <a href="#company-number">{{ companyErr.msg }}</a>
                </li>
              {% endif %}
              {% if penaltyErr.type %}
                <li>
                  <a href="#penalty-ref">{{ penaltyErr.msg }}</a>
                </li>
              {% endif %}
            </ol>
          </div>
        {% endif %}
        <h1 class="heading-xlarge">
          Enter your penalty details
        </h1>
        <form class="form" method="POST" action="enter-details">
          <div class="form-group {% if companyErr.type %} error{% endif %}">
            <label class="form-label-bold" for="company-number">
              Company number
              {% if companyErr.type %}
                <span class="error-message">
                  {{ companyErr.msg }}
                </span>
              {% endif %}
              <span class="form-hint">
                This is the 8 character reference that uniquely identifies your company.
              </span>
            </label>
            <input class="form-control" id="company-number" type="text" name="companyno" value="{{ companyno }}">
          </div>
          <div class="form-group {% if penaltyErr.type %} error{% endif %}">
            <label class="form-label-bold" for="penalty-ref">
              Penalty reference
              {% if penaltyErr.type %}
                <span class="error-message">
                  {{ penaltyErr.msg }}
                </span>
              {% endif %}
              <span class="form-hint">
                This is the 14 character reference shown on your penalty notification.
              </span>
            </label>
            <input class="form-control" id="penalty-ref" type="text" name="reference" value="{{ penalty }}">
          </div>
          <div class="form-group">
            <details>
              <summary>
                <span class="summary">Where can I find these details?</span>
              </summary>
              <div class="panel panel-border-narrow">
                <p>
                  Your company number and penalty reference are shown in a box on the right side of the penalty notification.
                </p>
                <img src="/public/images/PenWebImage280px.png" class="call-out-image" alt=""/>
              </div>
            </details>
          </div>
          <input class="button" type="submit" value="Continue">
        </form>
      </div>
    </div>
  </main>

{% endblock %}