{% extends "layout.html" %}

{% block pageTitle %}
  {% if penaltyErr or companyErr %}Error:
  {% endif %}
  Tell us your penalty details
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "start"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if penaltyErr or companyErr %}
        <div class="govuk-error-summary" role="alert" aria-labelledby="error-summary-title" tabindex="-1">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            We couldn't find your penalty details
          </h2>
          <div class="govuk-error-summary__body">
            <p>
              You must provide a company number and penalty reference to pay a late filing penalty.
            </p>
            <ol class="govuk-list govuk-error-summary__list">
              {% if companyErr.type %}
                <li>
                  <a href="#company-number">{{ companyErr.msg }}</a>
                </li>
              {% endif %}
              {% if penaltyErr.type %}
                <li>
                  <a href="#penalty-ref">{{ penaltyErr.msg }}</a>
                </li>
              {% endif %}
            </ol>
          </div>
        </div>
      {% endif %}
      <h1 class="govuk-heading-xl">
        Tell us your penalty details
      </h1>

      {% if companyErr.msg %}
        {% set companyNumberError = {
          text: companyErr.msg
        } %}
      {% else %}
        {% set companyNumberError = false %}
      {% endif %}

      {% if penaltyErr.msg %}
        {% set penaltyRefError = {
          text: penaltyErr.msg
        } %}
      {% else %}
        {% set penaltyRefError = false %}
      {% endif %}

      <form method="POST" action="enter-details">
        {{ govukInput({
            label: {
              text: "Company number"
            },
            id: "company-number",
            name: "companyno",
            classes: "govuk-input--width-10",
            value: companyno,
            errorMessage: companyNumberError
          }) }}
        {{ govukInput({
            label: {
              text: "Penalty reference"
            },
            id: "penalty-ref",
            name: "reference",
            classes: "govuk-input--width-20",
            value: penalty,
            errorMessage: penaltyRefError
          }) }}
        <div class="govuk-form-group">
          {% set detailsText %}
          <p>
            Your company number and penalty reference are shown in a box on the right side of the penalty notice.
          </p>
          <img src="/public/images/PenWebImage280px.png" class="call-out-image" alt="" aria-hidden="true"/>
          {% endset %}
          {{ govukDetails({
            summaryText: "Where can I find these details?",
            html: detailsText
          }) }}
        </div>
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}