{% extends "layout.html" %}

{% block pageTitle %}
  Pay a late filing penalty
{% endblock %}

{% block header %}
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Business and self-employed</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Running a limited company</li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {% if serviceName %}
          {{ serviceName }}
        {% endif %}
      </h1>
      <p class="govuk-body-l">You can use this service to pay a company's late filing penalty with a credit or debit card.</p>
      <p class="govuk-body">You cannot use this service to pay:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a penalty that has been taken to court</li>
        <li>a penalty that has other legal fees</li>
        <li>more than one penalty</li>
      </ul>
      <p class="govuk-body">You'll need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the company number</li>
        <li>the reference number on the penalty notice</li>
        <li>an email address or Companies House account</li>
        <li>a credit or debit card</li>
      </ul>
      <p class="govuk-body">It takes around 5 minutes to pay.</p>
      <form action="{{ chAccountURL }}sign-in" method="POST">
        {{ govukButton({
          text: "Start now",
          classes: "govuk-button--start"
        }) }}
        <input type="hidden" name="continueURL" value="{{ serviceURL }}login">
        <input type="hidden" name="backURL" value="{{ serviceURL }}start">
        <input type="hidden" name="serviceURL" value="{{ serviceURL }}start">
        <input type="hidden" name="serviceName" value="Pay a late filing penalty">
      </form>

      {% set detailsText %}
      <h2 class="govuk-heading-m">By phone</h2>
      <p class="govuk-body">
        You can pay by phone using your credit or debit card.<br/>
        Telephone: 0303 1234 500<br/>
        Contact Centre lines are open between 8.30am to 6pm (Monday to Friday).<br/>
        Paying your penalty through instalments can also be set up by phone.
      </p>
      <h2 class="govuk-heading-m">Cheque</h2>
      <p class="govuk-body">
        Send your cheque, along with the remittance advice on the bottom of your letter to:
      </p>
      <h3 class="govuk-heading-s">England Wales and Northern Ireland</h3>
      <p class="govuk-body">
        Companies House<br/>
        PO Box 710<br/>
        Crown Way<br/>
        CF14 3UZ
      </p>
      <h3 class="govuk-heading-s">Scotland</h3>
      <p class="govuk-body">
        Companies House<br/>
        Fourth Floor<br/>
        Edinburgh Quay 2<br/>
        139 Fountainbridge<br/>
        Edinburgh<br/>
        EH3 9FF
      </p>
      <h2 class="govuk-heading-m">BACS</h2>
      <p class="govuk-body">
        Quote your company number followed by the full company name in your transaction reference so we can allocate your payment properly.
      </p>
      {{ govukTable({
        caption: "BACS payment details",
        firstCellIsHeader: true,
        rows: [
          [
            {
              text: "Account name"
            },
            {
              text: "Late Filing Penalties Receipts"
            }
          ],
          [
            {
              text: "Account number"
            },
            {
              text: "41005309"
            }
          ],
          [
            {
              text: "Bank / Branch"
            },
            {
              html: "National Westminster Bank<br/>
              Roath, Cardiff"
            }
          ],
          [
            {
              text: "Sort code"
            },
            {
              text: "52 21 07"
            }
          ],
          [
            {
              text: "Swift code"
            },
            {
              text: "NW BK GB 2122X"
            }
          ],
          [
            {
              text: "IBAN (If overseas)"
            },
            {
              text: "GB34NWBK52210741005309"
            }
          ]
        ]
      }) }}
      <p class="govuk-body">
        Email confirmation of your BACS payment to
        <a class="govuk-link govuk-link--no-visited-state" href="mailto:lfpfinance@companieshouse.gov.uk" title="Email the late filing penalty finance team">lfpfinance@companieshouse.gov.uk</a>. The email must include the amount paid, company number and company name.
      </p>
      {% endset %}

      {{ govukDetails({
        summaryText: "Other ways to pay a penalty",
        html: detailsText
      }) }}
    </div>
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-body-s">
            <li>
              <a href="https://www.gov.uk/file-an-annual-return-with-companies-house">
                File your confirmation statement (annual return) with Companies House
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/running-a-limited-company">
                Running a limited company
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/browse/business/limited-company" class="govuk-!-w-bold">
                More
                <span class="visuallyhidden">Running a limited company</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
{% endblock %}